<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Club Service</title>
</head>
<body>
<h2>RestAPI webszolgáltatásai, webservice</h2>
<table>
    <tr>
        <th>Metódus</th>
        <th>URL</th>
        <th>Szolgáltatás</th>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/categories">/categories</a></td>
        <td>Kategóriák listája</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/categories/1">/categories/{id}</a></td>
        <td>Egy kategória</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/categories/1/clubs">/categories/{id}/clubs</a></td>
        <td>Egy kategóriába tartozó klubok</td>
    </tr>
        <td>POST</td>
        <td>/categories</td>
        <td>Kategória létrehozása</td>
    </tr>
        <td>DELETE</td>
        <td>/categories/{id}</td>
        <td>Kategória törlése</td>
    </tr>
    </tr>
        <td>PATCH</td>
        <td>/categories/{id}/{agelimit}</td>
        <td>Kategóeia módosítása (alsó korhatár)</td>
    </tr>
</table>
</body>
</html>